.TareaTerminada {
  text-decoration: line-through;
  margin-left: 30px;
  font-size: 35px;
}

.TareaPendiente {
  margin-left: 30px;
  font-size: 35px;
}

form {
  width: 50%;
  margin-top: 50px;
}

H1 {
  margin-top: 50px;
  font-size: 50px;
}

.ContainerTarea {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  -webkit-box-shadow: 3px 10px 33px -4px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 3px 10px 33px -4px rgba(0, 0, 0, 0.49);
  box-shadow: 3px 10px 33px -4px rgba(0, 0, 0, 0.49);
  border-radius: 10px;
  margin: 30px;
}

.ContainerCantidadTareas {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContadorTareasTerminadas {
  font-size: 35px;
}

.ContadorTareasPendientes {
  font-size: 35px;
}
